.navbar {
	border-radius: 0;
}

.page_title {
	margin-top: 10px;
}

hr {
	margin-bottom: 50px;
}

.section {
	margin-top: 40px;
	padding-top: 15px;
}

.publications-table{
	margin: 35px 0 0;
}

.select-unit{
	padding-right: 50px;
}

.btn-default {
	margin: 7px 0 0;
}

.search-btn {
	padding-left: 25px;
	padding-right: 25px;
}