body {
	background: rgb(228, 236, 255);
/* 	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAaCAYAAACpSkzOAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEgAACxIB0t1+/AAAABZ0RVh0Q3JlYXRpb24gVGltZQAxMC8yOS8xMiKqq3kAAAAcdEVYdFNvZnR3YXJlAEFkb2JlIEZpcmV3b3JrcyBDUzVxteM2AAABHklEQVRIib2Vyw6EIAxFW5idr///Qx9sfG3pLEyJ3tAwi5EmBqRo7vHawiEEERHS6x7MTMxMVv6+z3tPMUYSkfTM/R0fEaG2bbMv+Gc4nZzn+dN4HAcREa3r+hi3bcuu68jLskhVIlW073tWaYlQ9+F9IpqmSfq+fwskhdO/AwmUTJXrOuaRQNeRkOd5lq7rXmS5InmERKoER/QMvUAPlZDHcZRhGN4CSeGY+aHMqgcks5RrHv/eeh455x5KrMq2yHQdibDO6ncG/KZWL7M8xDyS1/MIO0NJqdULLS81X6/X6aR0nqBSJcPeZnlZrzN477NKURn2Nus8sjzmEII0TfMiyxUuxphVWjpJkbx0btUnshRihVv70Bv8ItXq6Asoi/ZiCbU6YgAAAABJRU5ErkJggg==); */
}

.noty_text {
	font-family: Arial, Tahoma, Helvetica;
}

.list-group-item .noty_message {
	padding: 10px 16px !important;
	text-align: left !important;
}

.form-group.required h4::after { 
   content: ' *';
   color: red;
}

.main-btn {
	display: block;
	margin: -5px 15px 0px;
}

.wrapper{
	width: 100%;
	min-height: 100%;
	padding: 0 0 50px;
}

.header {
	width: 100%;
	height: 250px;
	background: url(../img/header-bg.jpg);
	background-size: cover;
	border-bottom: 6px solid #86a7f7;
	box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.3);
}

.parent {
	margin-top: -100px;
}

/* .final {
	display: block;
} */

.section-header {
	background: #9dbdf2; 
	margin-top: 25px;
	padding: 10px 25px; 
}

.section {
	padding-top: 0.1px;
	padding-bottom: 20px;
	background: #fafafa;
	border-radius: 1px;
	box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.125);
}

.report-form {
	margin-top: 30px;
}

.report-form .form-group {
	margin-bottom: 30px;
}

.report-form textarea {
	resize: vertical;
}

.question {
	margin-bottom: 5px;
}

.block {
	width: 400px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding-top: 0.1px;
	padding-bottom: 20px;
	outline: 2px solid #000;
	background: #fafafa;
}

.error-template {
	padding: 40px 15px;
	text-align: center;
}

.error-actions {
	margin-top: 15px;
	margin-bottom: 15px;
}

.error-actions .btn {
	margin-right: 10px;
}

.login-form .form-group {
	margin-bottom: 20px;
}

.login-btn {
	display: block;
	position: relative;
	margin-top: 15px;
	padding-top: 8px;
	padding-bottom: 8px;
}

.input-group.date {
	cursor: pointer;
}