<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="initial-scale=1.0">

	<title>Admin site</title>

	<link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/assets/css/bootstrap-theme.min.css">
	<link rel="stylesheet" type="text/css" href="/assets/css/main.css">
	<link rel="stylesheet" type="text/css" href="/assets/css/admin.css">

	<script type="text/javascript" src="/assets/js/jquery-3.2.0.min.js"></script>
	<script type="text/javascript" src="/assets/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/assets/js/jquery.noty.packaged.min.js"></script>
	<script type="text/javascript" src="/assets/js/js.cookie.min.js"></script>
	<script type="text/javascript" src="/assets/js/script.js"></script>
	<script type="text/javascript" src="/assets/js/workers/admin.js"></script>
</head>
<body>
	<nav class="navbar navbar-inverse">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand" href="/admin/index">Admin site</a>
				<button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#navbar-main" aria-expanded="false">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div>
			<div class="navbar-collapse collapse" id="navbar-main" aria-expanded="false" style="height: 1px">
				<ul class="nav navbar-nav">
					<li class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown" href="#">
							Menu <span class="caret"></span>
						</a>
						<ul class="dropdown-menu">
							<li>
								<a href="/admin/publications">Publications</a>
							</li>
							<li>
								<a href="/admin/unit">Unit info</a>
							</li>
							<li>
								<a href="/admin/lab">Labaratory courses</a>
							</li>
							<li class="divider"></li>
							<li>
								<a href="/admin/students_num">Students number</a>
							</li>
							<li>
								<a href="/admin/collaborations_num">Research collabs</a>
							</li>
							<li>
								<a href="/admin/patents">Patents</a>
							</li>
							<li>
								<a href="/admin/students_reports">Students reports</a>
							</li>
						</ul>
					</li>
					{{create_user}}
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown" href="#">
							Hello, {{user_name}} <span class="caret"></span>
						</a>
						<ul class="dropdown-menu">
							<li>
								<a href="/admin/change_pass">Change password</a>
							</li>
							<li class="divider"></li>
							<li>
								<a href="/admin/logout">
									<span class="glyphicon glyphicon-log-out"></span>&nbsp;
									Log out
								</a>
							</li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</nav>

	<div class="col-xs-10 col-md-8 col-xs-offset-1 col-md-offset-2 section">
		{{insert_content}}
	</div>
</body>
</html>