<h1 align="center" class="page_title">Change password</h1>
<hr/>

<form class="change-password">
	<div class="form-group col-md-6">
		<h4>Old password</h4>
		<div class="input-group">
			<input class="form-control" type="password" name="old_pass" placeholder="Old password">
			<div class="input-group-addon show_pass">
				<span class="glyphicon glyphicon glyphicon-eye-open"></span>
			</div>
		</div>
	</div>
	<div class="form-group col-md-6">
		<h4>New password</h4>
		<div class="input-group">
			<input class="form-control" type="password" name="new_pass" placeholder="New password">
			<div class="input-group-addon show_pass">
				<span class="glyphicon glyphicon glyphicon-eye-open"></span>
			</div>
		</div>
		<br>
		<div class="input-group">
			<input class="form-control" type="password" name="new_pass_2" placeholder="Repeat new password">
			<div class="input-group-addon show_pass">
				<span class="glyphicon glyphicon glyphicon-eye-open"></span>
			</div>
		</div>
	</div>

	<div class="col-md-12" style="margin-top: 15px">
		<button type="button" class="btn btn-primary btn-default confirm-btn col-md-2 pull-right">Confirm</button>
	</div>
</form>


<script type="text/javascript" src="/assets/js/workers/admin/pass-change.js"></script>