<h1 align="center">Courses tought by a given laboratory</h1> 

<div class="col-xs-10 col-md-8 col-xs-offset-1 col-md-offset-2 section">
	 <form class="clearfix">
		<div class="form-group">
			<label for="labName">Select Laboratory</label>
			<select class="form-control select-unit" id="labName">
				<option selected >Robotics</option>
				<option>BigData</option>
				<option>IT</option>
				<option>ITT</option>
			</select>
		</div>
		<div class="form-group">
			<label for="dateFrom">From date</label>
			<input class="form-control" type="date">
		</div>
		<div class="form-group">
			<label for="dateFrom">To date</label>
			<input class="form-control" type="date">
		</div>
		<button type="button" class="btn btn-primary btn-default pull-right">Search</button>
	</form>
	<table class="table table-hover publications-table">
		<thead>
			<tr>
				<th>#</th>
				<th>Course name</th>
			</tr> 
		</thead>
		<tbody>
			<tr>
				<td>-</td>
				<td>-</td>
			</tr>
			<tr>
				<td>-</td>
				<td>-</td>
			</tr>
			<tr>
				<td>-</td>
				<td>-</td>
			</tr>
		</tbody>
	</table>
</div>