<script type="text/javascript" src="/assets/js/workers/admin/publications.js"></script>

<h1 align="center">Publications in a given year</h1> 

<div class="col-xs-10 col-md-8 col-xs-offset-1 col-md-offset-2 section">
	<div class="form-inline">
		<div class="form-group">
			<label for="dateFrom">Choose a year</label>
			<input type="number" class="form-control year" value="2017" step="1">
		</div>
		<button type="button" class="btn btn-primary pull-right search-btn">Search</button>
	</div>

	<table class="table table-hover publications-table">
		<thead>
			<tr>
				<th>#</th>
				<th>Unit</th>
				<th>Publication</th>
			</tr>
		</thead>
		<tbody>
			<tr><td class="text-center" colspan="3">Loading ..</td></tr>
		</tbody>
	</table>
</div>