<script type="text/javascript" src="/assets/js/workers/admin/unit.js"></script>

<h1 align="center">Information about given unit</h1> 

<div class="col-xs-10 col-md-8 col-xs-offset-1 col-md-offset-2 section">
	<form class="form-inline">
		<div class="form-group">
			<label for="dateFrom">Select unit</label>
			<select class="form-control select-unit">
				<option selected >Robotics</option>
				<option>BigData</option>
				<option>IT</option>
				<option>ITT</option>
			</select>
		</div>
		<button type="button" class="btn btn-primary pull-right">Search</button>
	</form>

	<table class="table table-hover publications-table">
		<thead>
			<tr>
				<th class="text-center" colspan="2">Laboratory name</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<th>Head of unit</th>
				<td>-</td>
			</tr>
			<tr>
				<th>Reporting period</th>
				<td>-</td>
			</tr>
			<tr>
				<th>Courses</th>
				<td>-</td>
			</tr>
			<tr>
				<th>Examinations</th>
				<td>-</td>
			</tr>
			<tr>
				<th>Students supervised</th>
				<td>-</td>
			</tr>
		</tbody>
	</table>
</div>