<script type="text/javascript" src="/assets/js/workers/admin/unit.js"></script>

<h1 align="center">Information about given unit</h1> 

<div class="col-xs-10 col-md-8 col-xs-offset-1 col-md-offset-2 section">
	<form class="form-inline">
		<div class="form-group">
			<label for="dateFrom">Select unit</label>
			<select class="form-control select-unit"></select>
		</div>
		<button type="button" class="btn btn-primary pull-right search-btn">Search</button>
	</form>

	<table class="table table-hover unit-table">
		<thead>
			<tr>
				<th class="text-center unit_name" colspan="2">Unit name</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<th>Head of unit</th>
				<td class="unit_head">-</td>
			</tr>
			<tr>
				<th>Reporting period</th>
				<td class="period">-</td>
			</tr>
			<tr>
				<th>Courses</th>
				<td class="courses">-</td>
			</tr>
			<tr>
				<th>Examinations</th>
				<td class="exams">-</td>
			</tr>
			<tr>
				<th>Students supervised</th>
				<td class="students_cnt">-</td>
			</tr>
		</tbody>
	</table>
</div>